@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .container-max {
    @apply container max-w-[1080px] w-[90%] mx-auto;
  }
  .container-md {
    @apply container max-w-[768px] w-[90%] mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
}

.overlay-container {
  position: relative;
}
.fn-gradient-text {
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Example gradient - adjust colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* This is necessary for the gradient to apply correctly */
}
.image-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px; /* Fixed width for all images */
  /* Fixed height for all images */
  overflow: hidden; /* Ensures nothing extends beyond the boundaries */
  /* Aligns images in a line */
  margin: 10px; /* Adds some space around each image */
  position: relative; /* Needed for absolute positioning of the image if required */
}

.imagessss {
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area, can be adjusted to 'contain' if no cropping is desired */
}
.en-gradient-text {
  background: linear-gradient(
    to right,
    #000,
    #000
  ); /* Example gradient - adjust colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* This is necessary for the gradient to apply correctly */
}
.arrow-button {
  display: flex;
  align-items: center;
  gap: 4px; /* Maintain some space between text and the arrow */
  padding: 4px 8px; /* Add some padding for better touch targets */
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.overlay {
  position: absolute;
  bottom: 0;
  /* background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0) 90%
  ); */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.logo {
  font-family: 'Kaushan Script', cursive;
}
